{% set report_title = "Treatment Summary" %}
{% set logo_img = "input_logo_image_url" %}
{% set questionnaire_slug = "enter_specified_questionnaire_slug" %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <style>
        @page {
            size: A4;
            margin: 150px 40px 60px 40px;
        }


        body {
            line-spacing: 1.6;
            font-family: "Times New Roman", Times, serif;
            margin: 0;
            padding: 0;
            max-width: 100%;
            font-size: 14px;
        }

        h1,
        h2,
        h3 {
            color: #2E8B57;
        }

        h1 {
            text-align: center;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        h2 {
            border-bottom: 1px solid #333;
        }

        table {
            width: 100%;
            margin: 10px 0 20px 0;
            border: none;
            line-height: 1.2;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 4px 8px;
            text-align: left;
            font-size: 10px;
        }

        th {
            background-color: #F2F2F2;

        }

        .sub-table th {
            background-color: #FAFAFA;
            font-size: 10px;
        }

        .sub-table th,
        .sub-table td {

            margin-top: 30px;
        }

        .sub-table {
            white-space: pre-line;
            overflow-wrap: break-word;
        }

        .no-border,
        .no-border th,
        .no-border td {
            border: none !important;
            padding: 3px;
        }

        .no-border th {
            background-color: transparent !important;
        }

        .note-text {
            font-style: italic;
            font-size: 8px;
            margin-top: 12px;
        }

        /* ---- Clinical Summary ---- */

        .clinical-section {
            margin-bottom: 12px;
            page-break-inside: avoid;
        }

        .clinical-label {
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .clinical-value {
            border-bottom: 1px solid #ddd;
            padding: 6px 8px;
            font-size: 11px;
            white-space: pre-line;
        }

        /* ---- Date row (single line) ---- */

        .clinical-dates-row {
            display: table;
            width: 100%;
            margin-bottom: 20px;
            font-size: 12px;
        }

        .clinical-date-block {
            display: table-cell;
            width: 50%;
            font-size: 11px;
            white-space: nowrap;

            /* prevents line break */
        }

        .clinical-date-label {
            font-weight: bold;
            margin-right: 6px;
            /* space between label & value */
        }

        .clinical-date-value {
            font-weight: normal;
        }


        .footer {
            margin-top: 8px;
            padding-top: 0;
            border-top: 1px solid #333;
            font-size: 8px;
            color: #666;
            text-align: center;
        }

        .separator {
            border-top: 1px solid #333;
            margin: 20px 0;
        }

        .header {
            position: fixed;
            top: -150px;
            left: 0;
            right: 0;

            height: 120px;
            padding: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background: white;


            z-index: 2;
        }


        .header-logo {
            height: 50px;
            width: auto;
        }

        .header-title {
            flex-grow: 1;
            text-align: center;
        }

        .header-title h1 {
            margin: 0;
            border: none;
            padding: 0;
            font-size: 24px;
            color: #2E8B57;
        }

        .header-placeholder {
            width: 100%;
        }

        .report-box {
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: 10px;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            /* Outer border */
        }

        .report-note,
        .report-conclusion {
            margin-bottom: 8px;
            padding: 5px;
        }

        .report-row {
            width: 100%;
            display: flex;
        }

        .report-header {
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd
        }

        .report-cell {
            padding: 4px;
            box-sizing: border-box;

            /* Only draw one side */
            /* border-right: 1px solid #999;
            border-bottom: 1px solid #999; */
        }

        /* Remove right border on last column */
        .report-row .report-cell:last-child {
            border-right: none;
        }

        /* Remove bottom border on last row */
        .report-row:last-child .report-cell {
            border-bottom: none;
        }

        .report-seperator {
            border-top: 1px solid #999
        }

        /* Column widths */
        .col-date {
            width: 15%;
        }

        .col-title {
            width: 25%;
            display: flex;
            justify-content: left;
        }

        .col-result {
            width: 20%;
            display: flex;
            justify-content: right;
        }

        .col-range {
            width: 20%;
            display: flex;
            justify-content: right;
        }

        .col-int {
            width: 25%;
            display: flex;
            margin-right: 10px;
            justify-content: right;
        }

        .col-note {
            width: 25%;
            display: flex;
            margin-right: 10px;
            justify-content: center;
        }

        /* Full width title row */
        .report-title-row {
            font-weight: bold;
            padding: 6px;
            margin: 2px 0px 0px 0;
        }

        .content {
            position: relative;
            z-index: 5;
            margin-top: -40px;

            @media print {
                .header {
                    display: flex !important;
                    border-bottom: 1px solid #333;
                }
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="header-title">
            <h1 style="text-align: left;">{{ encounter.facility.name }}</h1>
            <div style="text-align: left; font-size:10px;">{{ encounter.facility.address }}<p>{{
                    encounter.facility.phone_number }}</p>
            </div>
        </div>
        <img alt="Logo" src={{logo_img}}
            style="height: 100px; width: auto;">
    </div>

    <div class="content">
        <h2 style="text-align: center;">{{report_title}}</h2>
        <table class="no-border">
            <tr>
                <th>Name</th>
                <td>{{ encounter.patient.name }}</td>

                <th>Date</th>
                <td> {{current_date()}}</>
            </tr>

            {% set official_identifiers = encounter.patient.instance_identifiers|selectattr('config.use', 'equalto',
            'Official')|list %}

            <tr>
                <th>Age</th>
                <td>{{ encounter.patient.age }}</td>

                {% if official_identifiers|length > 0 %}
                <th>{{ official_identifiers[0].config.display }}</th>
                <td>{{ official_identifiers[0].value }}</td>
                {% endif %}
            </tr>

            <tr>
                <th>Gender</th>
                <td>{{ encounter.patient.gender }}</td>
                <th>Admission Date/Time</th>
                <td>{{ encounter.start_time |datetime }}</td>
            </tr>

            <tr>
                <th>Address</th>
                <td>{{ encounter.patient.address }}</td>
                <th>Discharge Date/Time</th>
                <td>{{ encounter.end_time |datetime }}</td>
            </tr>

        </table>

        {% set allergies=
        encounter.allergy_intolerances.filter(
        exclude_clinical_status="inactive",exclude_verification_status="entered_in_error")|
        list %}
        {% if allergies %}
        <div style="font-weight: bold; font-size: 12px; margin-bottom: 5px; margin-top:5px;">
            Allergies
        </div>

        <div style="border-bottom:1px solid #ddd" ; class="report-box">

            <div class="report-row report-header">
                <div class="report-cell col-title">Allergy</div>
                <div class="report-cell col-range">Status</div>
                <div class="report-cell col-result">Criticality</div>
                <div class="report-cell col-result">Verification</div>
                <div class="report-cell col-note">Note</div>
            </div>

            {% for allergy in allergies %}

            <div class="report-row">

                <div class="report-cell col-title">
                    {{ allergy.name }}
                </div>


                <div class="report-cell col-range">
                    {{ allergy.clinical_status | capitalize }}
                </div>

                <div class="report-cell col-result">
                    {{ allergy.criticality | capitalize }}
                </div>

                <div class="report-cell col-result">
                    {{ allergy.verification_status | capitalize }}
                </div>

                <div class="report-cell col-note">
                    {{ allergy.note or "-" }}
                </div>

            </div>

            {% endfor %}

        </div>

        {% endif %}


        {% set symptoms =
        encounter.symptoms.filter(exclude_clinical_status="inactive",exclude_verification_status="entered_in_error") |
        list %}
        {% if symptoms %}
        <div style="font-weight: bold; font-size: 12px; margin-bottom: 5px; margin-top:5px;">
            Symptoms
        </div>

        <div style="border-bottom:1px solid #ddd" ; class="report-box">

            <div class="report-row report-header">
                <div class="report-cell col-title">Symptom</div>
                <div class="report-cell col-result">Status</div>
                <div class="report-cell col-result">Verification</div>
                <div class="report-cell col-range">Onset</div>
                <div class="report-cell col-note">Note</div>
            </div>

            {% for symptom in symptoms %}

            <div class="report-row">

                <div class="report-cell col-title">
                    {{ symptom.name }}
                </div>

                <div class="report-cell col-result">
                    {{ symptom.clinical_status | capitalize }}
                </div>

                <div class="report-cell col-result">
                    {{ symptom.verification_status | capitalize }}
                </div>


                <div class="report-cell col-range">
                    {{ symptom.onset | date if symptom.onset else "-" }}
                </div>

                <div class="report-cell col-note">
                    {{ symptom.note or "-" }}
                </div>

            </div>

            {% endfor %}

        </div>

        {% endif %}

        {% set diagnoses =
        encounter.diagnoses.filter(exclude_clinical_status="inactive",exclude_verification_status="entered_in_error") |
        list %}
        {% if diagnoses %}

        <div style="font-weight: bold; font-size: 12px; margin-bottom: 5px; margin-top:5px;">
            Diagnoses
        </div>

        <div style="border-bottom:1px solid #ddd" ; class="report-box">

            <div class="report-row report-header">
                <div class="report-cell col-title">Diagnoses</div>
                <div class="report-cell col-result">Status</div>
                <div class="report-cell col-result">Verification</div>
                <div class="report-cell col-range">Onset</div>
                <div class="report-cell col-note">Note</div>
            </div>

            {% for diagnose in diagnoses %}

            <div class="report-row">

                <div class="report-cell col-title">
                    {{ diagnose.name }}
                </div>

                <div class="report-cell col-result">
                    {{ diagnose.clinical_status | capitalize }}
                </div>
                <div class="report-cell col-result">
                    {{ diagnose.verification_status | capitalize }}
                </div>

                <div class="report-cell col-range">
                    {{ diagnose.onset | date if diagnose.onset else "-" }}
                </div>

                <div class="report-cell col-note">
                    {{ diagnose.note or "-" }}
                </div>

            </div>

            {% endfor %}

        </div>

        {% endif %}

        {% set prescriptions = encounter.medication_prescriptions | list %}

        {% if prescriptions %}

        <div style="font-weight: bold; font-size: 12px; margin-bottom: 5px; margin-top:5px;">
            Medications
        </div>

        <div style="border-bottom:1px solid #ddd" ; class="report-box">

            <!-- Header -->
            <div class="report-row report-header">
                <div class="report-cell col-title">Medicine</div>
                <div class="report-cell col-result">Dosage</div>
                <div class="report-cell col-range">Frequency</div>
                <div class="report-cell col-int">Duration</div>
            </div>

            {% for mp in prescriptions %}
            {% for medication in mp.medications.filter(status="active") %}

            {% if medication.dosage_instructions %}
            {% for di in medication.dosage_instructions %}

            <div class="report-row">

                <div class="report-cell col-title">
                    {{ medication.name }}
                </div>

                <div class="report-cell col-result">
                    {{ di.dosage }}
                </div>

                <div class="report-cell col-range">
                    {{ di.frequency }}
                </div>

                <div class="report-cell col-int">
                    {{ di.duration }}
                </div>

            </div>

            {% endfor %}
            {% endif %}

            {% endfor %}
            {% endfor %}

        </div>

        {% endif %}

        {% set reports = encounter.diagnostic_reports.filter(status="final") | list %}
        {% if reports %}
        <div style="font-weight: bold; font-size: 12px; margin-bottom: 5px; margin-top:5px;">
            Service Request
        </div>
        <div class="report-box">
            <!-- Header Row -->
            <div class="report-row report-header">

                <div class="report-cell col-date  ">Date</div>
                <div class="report-cell col-title ">Title</div>
                <div class="report-cell col-result ">Result</div>
                <div class="report-cell col-range ">Range</div>
                <div class="report-cell col-int ">Interpretation</div>

            </div>
            {% for diagnostic_report in reports %}
            <!-- Report Title -->
            <div class="report-title-row">

                {% if diagnostic_report.service_request.title %}
                {{ diagnostic_report.service_request.title }}
                {% endif %}

            </div>

            <!-- Observations -->
            {% for observation in diagnostic_report.observations %}
            <div class="report-row">

                <div class="report-cell col-date">
                    {{ observation.effective_datetime | date }}
                </div>

                <div class="report-cell col-title">
                    {{ observation.title }}
                </div>

                <div class="report-cell col-result">
                    {% if observation.value and observation.value.value %}
                    {{ observation.value.value }}
                    {% endif %}
                </div>

                <div class="report-cell col-range">
                    {% if observation.reference_range is iterable %}

                    {% set matched = observation.reference_range
                    | selectattr("interpretation", "equalto", observation.interpretation)
                    | list %}

                    {% if matched %}
                    {% set range = matched[0] %}
                    {% set min_val = range.min|default(0)|float %}
                    {% set max_val = range.max|default(0)|float %}

                    {% if min_val > 0 and max_val > 0 %}
                    {{ min_val }} - {{ max_val }}
                    {% elif min_val == 0 and max_val > 0 %}
                    &lt; {{ max_val }}
                    {% elif min_val > 0 and max_val == 0 %}
                    &gt; {{ min_val }}
                    {% endif %}

                    {% if observation.value.unit %}
                    ({{ observation.value.unit }})
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}

                    {% else %}
                    -
                    {% endif %}
                </div>

                <div class="report-cell col-int">
                    {{ observation.interpretation | capitalize | default('-') }}
                </div>

            </div>

            <!-- Components -->
            {% for component in observation.component %}

            <div class="report-row">

                <div class="report-cell col-date"></div>

                <div class="report-cell col-title" style="padding-left:15px;">
                    -{{ component.title }}
                </div>
                <div class="report-cell col-result">
                    {% if component.value and component.value.value %}
                    {{ component.value.value }}
                    {% endif %}
                </div>
                <div class="report-cell col-range">
                    {% if component.reference_range is iterable %}

                    {% set matched = component.reference_range
                    | selectattr("interpretation", "equalto", component.interpretation)
                    | list %}

                    {% if matched %}
                    {% set range = matched[0] %}
                    {% set min_val = range.min|default(0)|float %}
                    {% set max_val = range.max|default(0)|float %}

                    {% if min_val > 0 and max_val > 0 %}
                    {{ min_val }} - {{ max_val }}
                    {% elif min_val == 0 and max_val > 0 %}
                    &lt; {{ max_val }}
                    {% elif min_val > 0 and max_val == 0 %}
                    &gt; {{ min_val }}
                    {% endif %}

                    {% if component.value.unit %}
                    ({{ component.value.unit }})
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}

                    {% else %}
                    -
                    {% endif %}
                </div>

                <div class="report-cell col-int">
                    {{ component.interpretation| capitalize | default('-') }}
                </div>

            </div>

            {% endfor %}

            {% endfor %}
            <!-- Report Note -->
            {% if diagnostic_report.note %}
            <div class="report-note">
                <strong>Note:</strong> {{ diagnostic_report.note }}
            </div>
            {% endif %}
            {% if diagnostic_report.note and not diagnostic_report.conclusion %}
            {% endif %}

            {% if diagnostic_report.conclusion %}
            <div class="report-conclusion">
                <strong>Conclusion:</strong> {{ diagnostic_report.conclusion }}
            </div>
            {% endif %}
            <div style=" border-top: 1px solid #ddd; margin: 2px 0;"></div>
            {% endfor %}
        </div>
        {% endif %}

        {% set qr = encounter.questionnaire_responses
        .filter(slug=questionnaire_slug) | list %}

        {% if qr %}
        {% set qr = qr | first %}

        <div style="margin-top: 16px;">

            <div style="font-weight: bold; font-size: 12px; margin-bottom: 10px;">
                Reports
            </div>

            <div style="border: 1px solid #ddd; padding: 10px;">

                {% for resp in qr.responses %}
                {% set label = resp.question.get('text', resp.question) %}
                {% set values = resp.answer.get('values', [resp.answer]) %}

                <div class="clinical-section">
                    <div class="clinical-label">
                        {{ label }}
                    </div>

                    <div class="clinical-value">
                        {%- for v in values -%}
                        {{ v.value }}
                        {% if not loop.last %}<br>{% endif %}
                                    {%- endfor -%}
                    </div>
                </div>
                {% endfor %}
                <div class="note-text">Updated by :{{ qr.updated_by.full_name }}</div>
            </div>

        </div>
        {% endif %}


        <div class="note-text""> Note:Content of the {{report_title}} will not be changed for any reason once the patient is discharged from the hospital. Please bring this report when you come for checkup.This {{report_title}} is not a legal document or certificate. </div>
         <div class=" footer"> This is a computer-generated {{report_title}}. </div>
    </div>
</body>

</html>